@use "../base/variables";

.burger-btn {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  aspect-ratio: 1;
  padding: 2px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 200ms ease;
  z-index: 100;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0 4px 6px 0 rgba(variables.$gray--dark, 0.36);
    border-radius: inherit;
    opacity: 0;
    transition: opacity 200ms ease;
  }

  span {
    position: relative;
    height: 4px;
    width: 100%;
    background-color: variables.$gray--dark;
    border-radius: 2px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 4px;
      background-color: variables.$gray--dark;
      border-radius: 2px;
      transition: rotate 250ms ease;
    }

    &::before {
      width: 30px;
      bottom: -12px;
      right: 0;
    }

    &::after {
      width: 28px;
      top: -12px;
      left: 0;
    }
  }

  &--active {
    background-color: variables.$gray--dark;

    &::before {
      opacity: 1;
    }

    span {
      background-color: transparent;

      &::before,
      &::after {
        background-color: variables.$light;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 22px;
        height: 2px;
      }

      &::after {
        rotate: 45deg;
      }

      &::before {
        rotate: -45deg;
      }
    }
  }

  @media (hover: hover) {
    cursor: pointer;
  }

  @media (width >= 1024px) {
    display: none;
  }
}
