@use "../base/variables" as v;
@use "../base/typography";

.hero {
  &__inner {
    @media (width >= 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media (width >= 1024px) {
      column-gap: 86px;
      max-width: 1440px;
      margin-inline: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
    text-align: center;
    align-items: center;
    padding-top: 128px;
    padding-inline: 20px;

    @media (width >=768px) {
      padding-right: 0;
      padding-left: 60px;
      flex-grow: 1;
      align-items: flex-end;
      padding-top: 0;
    }

    @media (width >= 1024px) {
      text-align: start;
      align-items: flex-start;
      max-width: 584px;
    }
  }

  &__subtitle {
    @extend %text-ls;

    @media (width >=768px) {
      display: none;
    }

    @media (width >= 1024px) {
      display: block;
    }
  }

  &__title {
    @extend %title;
    font-size: 30px;
    padding-bottom: 5px;
    line-height: 1.2;

    span {
      color: v.$primary;
    }

    @media (width >=768px) {
      padding-bottom: 0;
      font-size: 46px;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      transform: rotate(-180deg);
      max-height: 584px;
      padding-left: 30px;
      text-align: left;
    }

    @media (width >= 1024px) {
      padding-bottom: 27px;
      writing-mode: horizontal-tb;
      transform: rotate(0);
      padding-left: 0;
    }
  }

  &__desc {
    font-size: 20px;
    color: v.$gray-700;
    padding-bottom: 20px;
    line-height: 1.2;

    @media (width >=768px) {
      display: none;
    }

    @media (width >= 1024px) {
      display: block;
      padding-bottom: 45px;
    }
  }

  &__btn {
    max-width: 277px;
    margin-bottom: 10px;
    font-size: 12px;

    @media (width >=768px) {
      display: none;
    }

    @media (width >= 1024px) {
      display: flex;
      margin-bottom: 27px;
    }
  }

  &__text {
    @extend %text-ls;
    font-size: 10px;
    color: v.$primary;

    @media (width >=768px) {
      display: none;
    }

    @media (width >= 1024px) {
      display: block;
    }
  }

  &__picture {
    display: none;

    @media (width >= 768px) {
      display: block;
      max-width: 527px;
      padding-top: 128px;

      img {
        width: 100%;
        height: auto;
      }
    }

    @media (width >= 1024px) {
      max-width: 588px;
      padding-top: 145px;
    }
  }
}
