@use "../base/variables" as v;
@use "../base/typography";

.product-info {
  padding-bottom: 47px;

  @media (width >= 768px) {
    padding-bottom: 52px;
  }

  @media (width >= 1024px) {
    padding-bottom: 190px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;

    @media (width >= 768px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 20px;
      row-gap: 28px;
    }

    @media (width >= 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__card {
    padding: 24px 30px 34px 30px;
    border-radius: 40px;
    box-shadow: 0 4px 16px rgba(v.$gray-700, 0.16);
    display: flex;
    flex-direction: column;
    row-gap: 17px;
  }

  &__card-image {
    position: relative;
    margin-bottom: 8px;
    color: v.$gray-700;

    &::before {
      content: "";
      position: absolute;
      width: 83px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: v.$primary;
      z-index: -1;
      top: 50%;
      left: -16px;
      translate: 0 -50%;
    }

    img {
      max-width: 100px;
      height: auto;
    }
  }

  &__card-title {
    font-size: 20px;
    font-weight: 700;
    color: v.$gray-700;
  }

  &__card-subtitle {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.16em;
    color: v.$gray-400;
    padding-bottom: 9px;
    text-transform: uppercase;
  }

  &__card-text {
    font-size: 14px;
    line-height: 1.4285;
    padding-bottom: 14px;
  }

  &__card-link {
    margin-top: auto;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: v.$primary;
    width: 57px;
    aspect-ratio: 1;
    box-shadow: 0 4px 9px rgba(v.$gray-700, 0.23);

    @media (hover: hover) {
      cursor: pointer;
    }
  }
}
