<section class="event-details">
  <div class="main-container">
    <div class="event-details__inner">
      <div class="event-details__header">
        <button
          type="button"
          class="event-details__btn main-btn main-btn--light"
        >
          <svg class="icon icon--24">
            <use href="#arrow-small-right"></use>
          </svg>
          <span>THIS YEAR’S VENUE</span>
        </button>
        <h4 class="event-details__subtitle">Lumo’s Winterfest VENUE</h4>
        <h2 class="event-details__title">DENVER, COLORADO</h2>
      </div>
      <p class="event-details__text">
        Lumo's Winterfest show is launching in Colorado for its perfect blend of
        urban sophistication and breathtaking winter landscapes. Denver, with
        its thriving cultural scene, offers the ideal backdrop for showcasing
        our 2024/2025 collection, while the nearby Rocky Mountains evoke the
        heart of winter. Colorado's unique connection to both modern fashion and
        the great outdoors reflects the spirit of Lumo’s designs—functional,
        stylish, and crafted for all winter adventures. It's the perfect
        location to unveil a collection that celebrates the beauty and
        versatility of the season.
      </p>
    </div>
  </div>
</section>
