<footer class="footer">
  <div class="main-container">
    <div class="footer__inner">
      <a href="/" class="logo footer__logo">
        <img src="./src/img/logo.svg" alt="logo" />
      </a>
      <nav class="footer__nav">
        <a href="#!" class="footer__nav-link">THE WINTER FEST</a>
        <a href="#!" class="footer__nav-link">UPCOMING FLEET</a>
        <a href="#!" class="footer__nav-link">THE VENUE</a>
        <a href="#!" class="footer__nav-link">LUMO SHOP</a>
      </nav>
      <div class="footer__social">
        <a href="#!" class="footer__social-link">
          <svg class="icon icon--48">
            <use href="#facebook"></use>
          </svg>
        </a>
        <a href="#!" class="footer__social-link">
          <svg class="icon icon--48">
            <use href="#youtube"></use>
          </svg>
        </a>
        <a href="#!" class="footer__social-link">
          <svg class="icon icon--48">
            <use href="#instagram"></use>
          </svg>
        </a>
        <a href="#!" class="footer__social-link">
          <svg class="icon icon--48">
            <use href="#pinterest"></use>
          </svg>
        </a>
      </div>
      <p class="footer__text">
        LUMO OFFICIAL © BY ZINE. E. FALOUTI ALL RIGHTS RESERVED 2025
      </p>
    </div>
  </div>
</footer>
