<header class="header">
  <div class="main-container">
    <div class="header__inner">
      <a href="#!" class="logo header__logo">
        <img src="./src/img/logo.svg" alt="logo" />
      </a>
      <button type="button" class="header__btn main-btn">
        <svg class="icon icon--24">
          <use href="#arrow-small-right"></use>
        </svg>
        <span>BOOK YOUR SEAT</span>
      </button>
      <button type="button" class="burger-btn">
        <span></span>
      </button>
      <div class="header__menu">
        <nav class="nav">
          <a href="#!" class="nav__link">THE WINTER FEST</a>
          <a href="#!" class="nav__link">UPCOMING FLEET</a>
          <a href="#!" class="nav__link">the VENUE</a>
          <a href="#!" class="nav__link">LUMO SHOP</a>
        </nav>
        <button type="button" class="header__btn main-btn">
          <svg class="icon icon--24">
            <use href="#arrow-small-right"></use>
          </svg>
          <span>BOOK YOUR SEAT</span>
        </button>
      </div>
    </div>
  </div>
</header>
