<section class="hero">
  <div class="hero__inner">
    <div class="hero__content">
      <h2 class="hero__subtitle">EMBRACE THE CHILL</h2>
      <h1 class="hero__title">
        Lumo’s <span>Winter fest</span> Collection <span>2024-2025</span>
      </h1>
      <p class="hero__desc">Stay warm, stylish, and ready for winter.</p>
      <button type="button" class="hero__btn main-btn">
        <svg class="icon icon--24">
          <use href="#arrow-small-right"></use>
        </svg>
        <span>PREP FOR the WINTERFEST</span>
      </button>
      <p class="hero__text">CHECK LAST YEAR’S EDITION</p>
    </div>
    <div class="hero__picture">
      <img src="./src/img/hero.webp" alt="" />
    </div>
  </div>
</section>
