<section class="intro">
  <div class="main-container">
    <div class="intro__inner">
      <div class="intro__content">
        <h2 class="intro__title">THIS YEAR’S WINTERFEST</h2>
        <p class="intro__text">
          Introducing Lumo's Winterfest 2024/2025, where warmth meets
          cutting-edge style. This season’s collection blends modern, functional
          designs with premium fabrics to keep you cozy during the coldest
          months. From sleek, insulated jackets to effortlessly stylish
          knitwear, each piece is crafted with both comfort and fashion in mind.
          Whether you're hitting the slopes or strolling through the city,
          Lumo's Winterfest line ensures you're prepared for every winter
          adventure—while looking your absolute best. Stay ahead of the trends
          and embrace the chill with confidence.
        </p>
      </div>
      <div class="intro__gallery">
        <article class="intro__card">
          <img src="./src/img/image01.webp" alt="" />
        </article>
        <article class="intro__card">
          <img src="./src/img/image02.webp" alt="" />
        </article>
        <article class="intro__card">
          <img src="./src/img/image03.webp" alt="" />
        </article>
        <article class="intro__card">
          <img src="./src/img/image04.webp" alt="" />
        </article>
      </div>
    </div>
  </div>
</section>
