<section class="product-info">
  <div class="main-container">
    <div class="product-info__cards">
      <article class="product-info__card">
        <div class="product-info__card-image">
          <img src="./src/img/leather.svg" alt="" />
        </div>
        <h3 class="product-info__card-title">Innovative Fabrics</h3>
        <h6 class="product-info__card-subtitle">Our Best Technology Yet</h6>
        <p class="product-info__card-text">
          Lumo’s Winterfest collection uses cutting-edge, weather-resistant
          fabrics that adapt to your environment. Stay warm without overheating,
          and enjoy water-repellent, windproof materials that ensure comfort in
          every condition.
        </p>
        <a href="#!" class="product-info__card-link">
          <svg class="icon icon--24">
            <use href="#ar"></use>
          </svg>
        </a>
      </article>
      <article class="product-info__card">
        <div class="product-info__card-image">
          <img src="./src/img/ball-of-wool.svg" alt="" />
        </div>
        <h3 class="product-info__card-title">Sustainable Craft</h3>
        <h6 class="product-info__card-subtitle">Eco-Friendly and Ethical</h6>
        <p class="product-info__card-text">
          Every garment in the 2024/2025 line is crafted with sustainability in
          mind. We prioritize eco-friendly materials and responsible production
          practices, ensuring that you can stay stylish while supporting the
          planet.
        </p>
        <a href="#!" class="product-info__card-link">
          <svg class="icon icon--24">
            <use href="#ar"></use>
          </svg>
        </a>
      </article>
      <article class="product-info__card">
        <div class="product-info__card-image">
          <img src="./src/img/sewing.svg" alt="" />
        </div>
        <h3 class="product-info__card-title">Tailored Fit</h3>
        <h6 class="product-info__card-subtitle">Designed for Every Body</h6>
        <p class="product-info__card-text">
          Our Winterfest clothing line features inclusive sizing and tailored
          fits, making it easy to find pieces that flatter and move with you.
          Comfort and confidence come standard with every item.
        </p>
        <a href="#!" class="product-info__card-link">
          <svg class="icon icon--24">
            <use href="#ar"></use>
          </svg>
        </a>
      </article>
      <article class="product-info__card">
        <div class="product-info__card-image">
          <img src="./src/img/tremple.svg" alt="" />
        </div>
        <h3 class="product-info__card-title">Versatile Style</h3>
        <h6 class="product-info__card-subtitle">Seamless Transition</h6>
        <p class="product-info__card-text">
          Whether you're heading to the office or exploring the outdoors, Lumo’s
          Winterfest collection blends functionality with sleek design. Layer
          effortlessly for any occasion, making every outfit a statement in
          warmth and style.
        </p>
        <a href="#!" class="product-info__card-link">
          <svg class="icon icon--24">
            <use href="#ar"></use>
          </svg>
        </a>
      </article>
    </div>
  </div>
</section>
