<section class="promo">
  <div class="main-container">
    <div class="promo__inner">
      <img src="./src/img/hero02.webp" class="promo__image" alt="" />
      <div class="promo__content">
        <h3 class="promo__subtitle">Don't miss out on exclusive savings!</h3>
        <h2 class="promo__title"><span>35%</span> DISCOUNT ON LAUNCH DAY</h2>
        <button type="button" class="main-btn main-btn--light promo__btn">
          <svg class="icon icon--24">
            <use href="#arrow-small-right"></use>
          </svg>
          <span>book YOUR SEAT</span>
        </button>
      </div>
    </div>
  </div>
</section>
